.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.title {
  text-align: center;
  margin-top: 46px;
}

.title p {
  font-size: 16px;
  margin-top: 36px;
}

.icons {
  display: flex;
  justify-content: center;
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 46px;
  min-width: 300px;
  max-width: 400px;
}

.socialIcon {
  fill: white;
  color: white;
  height: 40px;
  width: 40px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  max-height: inherit;
}
.card {
  height: 300px;
  width: 280px;
  background: grey;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .title {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .title h1 {
    display: inline-block;
    font-size: 76px;
    width: 40%;
    max-width: 500px;
    text-align: right;
    padding-right: 42px;
  }

  .title p {
    display: inline-block;
    font-size: 26px;
    width: 50%;
    text-align: left;
  }
}
/* @media (min-width: 1024px) {
}
@media (min-width: 1440px) {
} */
