.sticky {
  position: sticky;
  top: 0;
  background: rgba(20, 21, 37, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.navbarContent {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}

.active {
  color: pink;
}

@media (min-width: 768px) {
  .sticky {
    position: unset;
    background: unset;
    box-shadow: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
  .navbarContent {
    justify-content: right;
  }

  .navbarContent li {
    padding: 0 20px;
  }
}
